<main>
    <form id="crearMascota" class="crear-mascota">
        <input type="text" name="name" placeholder="Ingrese Nombre de la mascota" required/>
        <input type="text" name="specie" placeholder="Ingrese especie de la mascota" required/>
        <input type="number" name="age" placeholder="Ingrese edad de la mascota" required/>
        <input type="text" name="idUser" placeholder="Ingrese Usuario de la mascota" required/>
        <input type="file" name="file" placeholder="Ingrese una imagen de la mascota" required/>
        <button type="submit">Agregar mascota</button>
    </form>
    <script src="/scriptPets.js"></script>
</main>