*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #2563EB;   /* azul moderno */
    --secondary: #1E40AF; /* azul oscuro */
}

.navbar{
    background-color: var(--primary);
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 10px auto;
}

.container-form-user{
    background-color: var(--primary);
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    margin: 10px auto;
}

.container-form-user input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.container-form-user button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
}


.container-cards-user{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-card-user{
    background-color: var(--primary);
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    margin: 10px;
}

.footer{
    background-color: var(--primary);
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 10px auto;
}
